*.pyc
*.out
*.log
*.aux
*.output
*.gz
*.ilg
*.pdf
*.myPDF
*.jpg
*.png
*.zim
/python_app/test.py
/c++_modules
test.py
test_book.py
/dewrap_attempt
/detect_link
/python_app/.build
/python_app/_utils/cpp/.deps
/python_app/_utils/cpp/.bin
*.so
/_python_local